
{% block content %}
    <div>
            <h1>Страница о себе</h1>
            <img src="https://avatars.mds.yandex.net/i?id=7d7382921eceffaa12e807a55278256c1b2fc273-9869754-images-thumbs&n=13">
            <div class="text">
                <p>
                  На улице зима, а я с утра в бассейн,<span style="margin-right:-0.2em;">,
                    </span><span style="margin-left:0.2em;"> </span><br>
                  Уж, нарезаю ровные колечки!&nbsp;— <br>
                  Кто на лыжне, а мне по фене всё, <br>
                  Мне б, прикоснуться к голубой водичке.
                </p>
                <p>
                  У многих кошельки - до кучи,<span style="margin-right:-0.2em;">,
                    </span><span style="margin-left:0.2em;"> </span><br>
                  Не помнят и не знают слово - "Нет"!. <br>
                  А я, в такси за свой народный рубчик, <br>
                  Ловлю свой кайф и шлю воде привет!
                </p>
                <p>
                  То кролем захочу, то брасом,<span style="margin-right:-0.2em;">,
                    </span><span style="margin-left:0.2em;"> </span><br>
                  То на спине, сменяя батерфляй! <br>
                  Так разряжая стресс свой безопастно,<span style="margin-right:-0.2em;">,</span><span style="margin-left:0.2em;"> 
                  Гоню волну, плыви - гуляй!.
                </p>
            </div>
       </div>

        <br>
{% endblock %}

